<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register a new student</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<fieldset>
		<legend>Create a Student</legend>
		<form method="post">
		{% csrf_token %}
		<div>
			<label>Name: <input type="text" name="Name"></label>
		</div>	
		<div>	
			<label>Age: <input type="number" name="Age" min=15 max=35></label>
		</div>
		<div>
			<label>Address: <input type="text" name="Address"></label>
		</div>
		<div>	
			<button type="submit">Submit</button>
		</div>
		</form>
	</fieldset>
	<a href="{% url 'getapi' %}">Table Content</a>
</body>
</html>