<!DOCTYPE html>
<html>
<head>
	<title>{{item2.fn}} {{item2.ln}}</title>
	<meta charset="UTF-8" />
	<style>
		table, td, th {
			border: 1px solid black;
		}
		h1 {
			text-align: center;
		}
		table {
			margin: 0 500px;
		}
		a {
			color: green;
			margin: 0 500px;
		}
	</style>
</head>
<body>
<h1>{{item2.fn}} {{item2.ln}}</h1>
<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age<t/h>
				<th>Term</th>
				<th>GPA</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{item2.id}}</td>
				<td>{{item2.fn}}</td>
				<td>{{item2.ln}}</td>
				<td>{{item2.age}}</td>
				<td>{{item2.term}}</td>
				<td>{{item2.gpa}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>