<!DOCTYPE html>
<html>
<head>
	<title>Update Teacher</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<fieldset>
		<legend><strong><em>Update Teacher {{up.name}}</em></strong></legend>
			<form method="post">
				{% csrf_token %}
				<div>
					<label>Name: <input type="text" name="Name"></label>
				</div>
				<div>
					<label>Address: <input type="text" name="Address"></label>
				</div>
				<div>
					<label>Phone: <input type="text" name="Phone"></label>
				</div>
				<div>
					<button type="submit">Submit</button>
				</div>
			</form>
	</fieldset>
	<a href="{% url 'table' %}">Table Content</a>
</body>
</html>